@import "tailwindcss";

/* Leaflet Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Ensure tiles are rendered correctly */
.leaflet-tile-pane {
  z-index: 2 !important;
}
.leaflet-map-pane {
  z-index: 2 !important;
}
